{% extends 'base.html' %}
{% load static %}

{% block content %}

        <main class="main">

            <!-- ======= Hero Section ======= -->
            <section id="hero" class="hero section">

                <div id="section-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

                    {% for slide in slides %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ slide.image.url }}" alt="">
                        <div class="info d-flex align-items-center">
                            <div class="container">
                              <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                                <div class="col-lg text-center">
                                  <h2 class="">{{ slide.title }}</h2>
                                  <p>{{ slide.subtitle }}</p>
                                  <a href="#" class="btn-get-started">تماس بگیرید</a>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    {% endfor %}

                    <a class="carousel-control-next" href="#section-carousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-next-icon bi bi-chevron-left" aria-hidden="true" style="margin-top: 60px;"></span>
                    </a>

                    <a class="carousel-control-prev" href="#section-carousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-prev-icon bi bi-chevron-right" aria-hidden="true" style="margin-top: 60px;"></span>
                    </a>

                </div>

            </section><!-- End Hero Section -->

        </main><!-- End main -->

{% endblock %}